*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
  content: '' ;
  display:table;
  clear: both;  
  }

  img{
    width: 80px;
    margin: auto;
    float: left;
    background-size:cover;
  }

h1{
  text-align: center;
  margin:20px 0;
  color: #E53170;
}

h4{
  color: white;
  float: left;
  margin: 2px 10px;
}

header {
  text-align: center;
}

.container{
  background-color: blueviolet;
  height: 300px;
  padding: 0 300px;
}

main .container{
  max-width: 1170px;
  background-color: blueviolet;
  text-align: justify;
}

.lorem{
  text-align:center
}

.col{
  background-color: #000;
  border: 0;
  padding: 0;
  width: 300px;
  height: 80px;
}

.professione{
  color: white;
  font-size: 12px;
  float: left;
  margin: 2px 10px;
}

.email a{
  float: left;

  font-size: 14px;
}



