*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
  content: '' ;
  display:table;
  clear: both;  
  }

  img{
    width: 80px;
    margin: auto;
    float: left;
    background-size:cover;
  }

h1{
  text-align: center;
  margin:20px 0;
  color: #E53170;
}

h4{
  color: white;
  float: left;
  margin: 5px 10px;
  margin-right: 50px;
}

header {
  text-align: center;
}

.container{
  height: 300px;
  padding: 0 100px;
  margin: 0 100px;
}


main .container{
  max-width: 1170px;
  background-color: blueviolet;
  text-align: justify;
}

.lorem{
  text-align:center
}

.col{
  background-color: #000;
  border: 0;
  padding: 0;
  width: 300px;
  height: 80px;
  float: left;
  margin: 20px 15px;
  text-align: center;
  box-shadow: 10px 3px 5px #dedede;
  
}

.professione{
  color: white;
  font-size: 12px;
  float: left;
  margin: 2px 10px;
}

.email a{
  float: left;
  font-size: 14px;
  margin: 2px 10px;
  color: #17CCF2;
}

.profili{
  text-align: center;
}



